<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Just Test</title>
<script src="scripts/require.js"  data-main="scripts/config"></script>

<script type="text/ejs" id="todoList">
<% can.each(this, function(val, key) { %>
    <li><%= val.attr('description') %></li>
<% }); %>
</script>

</head>

<body>
    <div id="main">
    </div>
    <textarea id="content"></textarea>
    <ul id="testlist">
        <li>aaa</li>
        <li>bbb</li>
        <li>ccc</li>
    </ul>
</body>
<script>



</script>
</html>
